fastapi[standard]==0.115.0
pydantic-settings==2.5.2
psycopg2-binary==2.9.9
asyncpg==0.29.0
sqlalchemy==2.0.35
alembic==1.13.3
bcrypt==4.2.0
pyjwt==2.9.0
greenlet==3.1.1
requests==2.32.3

# dev
pre-commit==4.0.0
ruff==0.6.9
pytest==8.3.3
sqlalchemy-utils==0.41.2
schema==0.7.7
pytest_asyncio==0.24.0